.faceless {
  font-size: 16pt;
  color: #999999;
  font-family: Julius Sans One;
  width: 40%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  padding-bottom: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-left {
   text-align: left;
}

.text-right {
  text-align: right;
}

.header-right {
  padding-right: 3em;
  padding-top: 25px;
}

.header-left {
  padding-left: 3em;
  padding-top: 25px;
}

.carousel-caption{
    background: rgba(99,99,99,0.7);
}

.img-circle {
    border-radius: 35%;
}

.social {
  display: inline-block;
}
.social li {
    border-bottom: none;
    list-style-type: none;
    display: inline-block;
}

.social li a {
    display: block;
    margin-left: 10px;
    height: 23px;
    width: 23px;
    text-indent: -9999px;
    line-height: 15px;
    overflow: hidden;
    background: url(../img/icons.png) no-repeat;
}

.social #tw {
    background-position: 0 0;
}

.social #tw:hover {
    background-position: 0 -23px;
}

.social #fb {
    background-position: -23px 0;
}

.social #fb:hover {
    background-position: -23px -23px;
}

.social #ct {
    background-position: -46px 0;
}

.social #ct:hover {
    background-position: -46px -23px;
}
.social #db {
    background-position: -69px 0;
}

.social #db:hover {
    background-position: -69px -23px;
}


.copyright {
  padding-left: 2.3%;
  font-size: 1.3em;
  color: #ebebeb;
}

.navbar-inverse {
  background-color: #c42751;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { background-color: #af163f; }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background-color: #c42751; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #af163f;
}

.nav-tabs>li.active>a {
  background-color: #af163f;
}

.nav-tabs>li>a {
  background-color: transparent;
}

.nav-tabs>li:hover>a {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs>li>a {
  border-radius: 7px;
}

.tab-content {
  border: 1px solid #af163f;
  border-radius: 6px;
  background-color: #af163f;
  min-height: 300px;
}

.pad-list > li {
  padding-top: 10px;
}

.pad-list-min > li {
  padding-top: 5px;
}

.pad-carousel {
  padding-bottom: 50px;
}
